body {
    font-family: "Abril Fatface", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    flex-direction: column;
}

#start-container {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
    color: white;
    font-family: "Abril Fatface", serif;
    margin-bottom: 20px;
}

#player-name {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#start-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FDE49F;
    color: #363636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: #fcc736;
}

#quiz-container {  
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
    color: white;
    font-family: "Abril Fatface", serif;
    display: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0; 
    border: none;
    border-radius: 4px;
    background-color: #FDE49F;
    color: #363636;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Merriweather Sans", sans-serif;
}

button:hover {
    background-color: #fcc736;
}

#question {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

#timer {
    font-size: 14px;
    margin-bottom: 10px;
}

#score {
    font-size: 16px;
    margin-bottom: 10px;
}

#question-progress {
    font-size: 14px;
    margin-bottom: 20px;
    color: #FDE49F;
}

#scoreboard {
    background-color: #363636;  /* Même couleur de fond que les autres divs */
    padding: 20px;              /* Même padding */
    border-radius: 8px;         /* Coins arrondis comme les autres */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);  /* Même ombrage */
    width: 300px;               /* Même largeur */
    color: white;               /* Texte blanc pour le contraste */
    margin-top: 20px;
    text-align: center;
    display: none; /* N'afficher que lorsque c'est nécessaire */
    font-family: "Abril Fatface", serif;
}

#scoreboard h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FDE49F;  /* Couleur dorée pour les titres */
}

#scoreboard p {
    font-size: 16px;
    color: #ffffff;  /* Texte blanc pour les scores */
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #start-button {
        width: auto;
    }

    #quiz-container, #start-container {
        width: 90%;
    }

    #scoreboard {
        width: 90%;
    }

    #player-name {
        width: 70%;
    }
}